@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    color: #1C5444;
    background: #DBF4E2;
    overflow: hidden;
}

body.body_guide {
    background: #EDFFF2;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.button {
    padding: 22px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #1C5444;
    background: #C0EAE0;
    border: 2px solid #1C5444;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px #00000033;
}

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 360px;
}

.nav {
    position: relative;
    height: 72px;
    background: #2E7662;
    z-index: 10;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav.between .container {
    justify-content: space-between;
}

.score-bar {
    width: 100%;
    height: 48px;
    font-size: 20px;
    font-weight: 700;
    background: #C0EAE0;
    border-top: 2px solid #1C5444;
    border-bottom: 2px solid #1C5444;
    box-shadow: 0px 0px 20px 0px #00000033;
    z-index: 10;
}
.score-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.score-bar__score {
    display: flex;
    align-items: center;
    gap: 8px;
}

.help {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1000px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 72px);
    z-index: 1;
}

.hello {
    padding: 48px 0;
    position: relative;
}

.hello h1 {
    margin-bottom: 14px;
    text-align: center;
    max-width: 280px;
    z-index: 5;
}

.hello p {
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    z-index: 5;
}

.hello .button {
    position: absolute;
    bottom: 48px;
}

.hello__zilant {
    position: absolute;
    bottom: 0;
}

.rules {
    position: relative;
    padding: 24px 16px;
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #DBF4E2;
    border: 2px solid #1C5444;
    border-radius: 10px;
}
.rules__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}
.rules__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}
.rules-list {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 12px;
    line-height: 20px;
}
.rules-list span {
    position: relative;
}
.rules-list span p {
    position: relative;
    z-index: 1;
}
.rules-list span svg {
    position: absolute;
    top: -7px;
    left: -12px;
    z-index: 0;
    opacity: .8;
}

.results__zilant {
    position: absolute;
    top: 150px;
    right: -140px;
    transform: scaleX(-1) rotate(25deg);
}
.results-data {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.results-data p {
    max-width: 70%;
}
.results-data-buttons {
    margin-top: auto;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.thanks__zilant {
    position: absolute;
    bottom: 0;
    right: -80px;
    transform: scaleX(-1);
}

.food {
    position: absolute;
}
.food.food_1 {
    top: 90px;
    left: 100px;
}
.food.food_2 {
    top: 380px;
    left: 50px;
}
.food.food_3 {
    top: 250px;
    left: 310px;
}

.control {
    position: absolute;
    bottom: 70px;
    z-index: 9999;
}
.player {
    position: absolute;
    bottom: 0;
    z-index: 9000;
}