.nav
    padding: 20px 0
    display: flex
    justify-content: space-between
    align-items: center
    color: $color-black
    &-navbar
        display: flex
        align-items: center
        gap: 40px
        &__item
            font-size: 20px
            line-height: 24px
            color: $color-black
    &__button
        padding: 13px 37px
        font-size: 20px
        line-height: 24px
        border: 1px solid $color-black
        background: none