.nav
    padding: 17px 0
    display: flex
    align-items: center
    @include respond (phone-land)
        display: none
    @include respond (phone-port)
        display: none
    &-brand
        margin-right: 50px
    &-navbar
        display: flex
        gap: 27px
        &__item
            color: $color-black
    &-stories
        margin-left: auto
        display: flex
        &__item
            position: relative
            padding: 1px
            display: flex
            align-items: center
            justify-content: center
            width: 46px
            height: 46px
            &:not(:first-child)
                margin-left: -20px
            &_active
                &::before
                    content: ""
                    position: absolute
                    inset: 0
                    border-radius: 50px
                    padding: 2px
                    background: linear-gradient(120deg, rgba(214,108,86,1) 50%, rgba(214,108,86,.5) 100%)
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
                    -webkit-mask-composite: xor
                    mask-composite: exclude
                    pointer-events: none
            &__img
                width: calc( 100% - 6px )
                height: calc( 100% - 6px )
                border-radius: 500px

.nav-mobile
    position: fixed
    padding: 15px 17px
    display: none
    justify-content: space-between
    align-items: center
    width: 100%
    background-color: #F8F8F8
    z-index: 5
    @include respond (phone-land)
        display: flex
    @include respond (phone-port)
        display: flex
    &-burger
        display: flex
        flex-direction: column
        gap: 7px
        width: 23px
        &__line
            height: 1px
            background-color: $color-black
            &_1
                width: 23px
            &_2
                width: 11px
            &_3
                width: 19px
    &-brand
        width: 78px
        height: 17px

.navbar-collapse
    position: fixed
    top: 0
    right: 0
    display: none
    flex-direction: column
    width: 100%
    height: 100%
    transition: .5s ease
    transform: translate(1500px)
    z-index: 15
    @include respond (phone-land)
        display: flex
    @include respond (phone-port)
        display: flex
    &.active
        transform: translate(0)
    &-header
        padding: 9px 16px
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        background-color: $color-bg
    &__btn
        height: 50%
    &-body
        padding: 17px
        display: flex
        flex-direction: column
        gap: 7px
        width: 100%
        height: 100%
        background-color: $color-white
        &__item
            display: flex
            align-items: center
            justify-content: space-between
            padding: 2px 8px
            font-size: 12px
            font-weight: 700
            line-height: 35px
            color: $color-black
            background-color: #F7F7F7
            &:nth-last-child(1)
                display: flex
                flex-direction: column
                align-items: stretch
                & .d-flex
                    gap: 8px