@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f5f5f7;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* Скролл бар */
body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #e2e2e2;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #696969;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #e2e2e2;  /* padding вокруг плашки */
  }

/*-------------------*/

/* Панель навигации */
.navbar-brand {
    font-weight: 700;
    font-size: 25pt;
}

.dropdown-toggle {
    font-weight: 500;
}

.nav-link {
    font-size: 14pt;
}

.nav-button {
    color: #838383;
    border: none;
    background-color: #fff;
    transition: 0.3s;
}

.nav-button:hover {
    color: #000000;
    transition: 0.3s;
}

/*-------------------*/

/*   Главный баннер  */
.carousel-control-icon {
    opacity: 0;
    font-size: 25pt;
    color: black;
    transition: .5s;
}

.carousel:hover .carousel-control-icon{
    opacity: 1;
    transition: .5s;
}
/*-------------------*/

/*     Карточки     */
.card.categories__card, .card.product__card{
    border: none;
    transition: .3s ease
}
.card.categories__card.card-body, .card.product__card.card-body {
    padding: 0;
}

.card-link {
    text-decoration: none;
    color: #212529;
}

.card.categories__card:hover, .card.product__card:hover {
    z-index: 2;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: .3s ease;
}

.card.categories__card:hover {
    transform: scale(1.05);
}

.col__card {
    display:table
}

/*-------------------*/

/*     Категории     */
.categories__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: #fff;
}

.categories__card_image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories__card_image img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}
/*-------------------*/

/* Карточка товаров */
.product__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0 15px 0;
    background-color: #fff;
}

.product__card_popular {
    height: 350px;
}

.product__card_image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__card__footer {
    display: flex;
    justify-content: space-between;
}

.product__card_image img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.product__card__body {
    display: flex;
    flex-direction: column;
}

.product__card_popular .product__card__body{
    align-items: center;
}
/*-------------------*/

/*     Новости      */

.news__card {
    height: inherit;
    box-sizing: border-box;
    display:table-cell
}

.news__card_image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__card_image img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.news__subscribe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 50px 0 50px;
    border-radius: 10px;
    background: rgb(129,81,88);
    background: linear-gradient(45deg, rgba(129,81,88,1) 0%, rgba(0,0,0,1) 100%);
}

.news__subscribe_image {
    width: 75%;
}

.news__subscribe_body {
    margin-bottom: 50px;
}

.news__subscribe_button {
    background: linear-gradient(119.95deg, #0E0D0D 1.52%, #585657 103.69%);
}

/*-------------------*/

/*      Сервис       */

.service__card_icon {
    font-size: 32pt;
    color: #000000;
}

/*-------------------*/

/* Оплата и доставка */

.shipping__card_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.shipping__card_body li {
    color: #0d6efd;
}

.shipping__card_body span {
    color: #191919;
}

/*-------------------*/

/*     Избранное     */

.favorites__body_image {
    width: 25%;
}

/*-------------------*/

/*      Корзина      */

.cart__body_image {
    width: 25%;
}

/*-------------------*/

/*       Футер       */
footer li {
    list-style: none;
}

.footer__link {
    text-decoration: none;
    color: #999;
    font-weight: 500;
}

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*-------------------*/
.splide__arrow { 
    background-color: transparent;
}

.city__list a{
    color: #1d1d1f;
    text-decoration: none;
}

.city__list li {
    list-style: none;
}

.bg-white {
    background-color: #fff;
}

.text-section {
    color: #1d1d1f !important;
    font-weight: 600;
}

.title {
    font-size: 17pt;
    font-weight: 600;
}

@media screen and (max-width:1400px) {
    .news__subscribe_body {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1200px) {
}

@media screen and (max-width:992px) {
    .categories__card {
        height: 350px;
    }
}

@media screen and (max-width:768px) {
    .carousel__title {
        font-size: 18pt;
        margin-bottom: 0;
    }
    .carousel__subtitle {
        font-size: 14pt;
        margin-bottom: 0;
    }

    .carousel__link {
        font-size: 14pt;
        margin-bottom: 0 !important;
    }

    #appleWatchBanner {
        margin-bottom: 12% !important;
    }

    #macbookBanner {
        margin-bottom: 15% !important;
    }
}

@media screen and (max-width:600px) {
    .header-banner__img {
        width: 40%;
    }

    .header-banner__title {
        font-size: 15pt;
    }

    .carousel__title {
        font-size: 14pt;
    }
    .carousel__subtitle {
        font-size: 10pt;
    }

    .carousel__link {
        font-size: 10pt;
    }

    #appleWatchBanner {
        margin-bottom: 8% !important;
    }

    #macbookBanner {
        margin-bottom: 10% !important;
    }

    .categories__list {
        flex-direction: column;
    }

    .news__subscribe {
        padding: 40px 15px 15px 15px;
    }
}

@media screen and (max-width:450px) {
    .carousel__title {
        font-size: 12pt;
    }
    .carousel__subtitle {
        font-size: 8pt;
    }

    .carousel__link {
        font-size: 8pt;
    }
}

@media screen and (max-width:400px) {
    .carousel__title {
        font-size: 8pt;
    }
    .carousel__subtitle {
        font-size: 6pt;
    }

    .carousel__link {
        font-size: 6pt;
    }
}